<div>
    <div class="content-top">
        <main>
            <h3>Do You Know Who is John Rembo?</h3>
            <p>
                Donec urna sapien, porta nec condimentum id, elementum in quam. Curabitur a aliquet turpis, sagittis eleifend sem.
                Nam quis est eget neque euismod fringilla et sit amet mauris. Proin commodo sodales arcu, a volutpat augue facilisis et.
                Nam pellentesque finibus felis eget feugiat. Nulla convallis a nisl non vehicula. Aliquam erat volutpat.
                Vivamus id massa a lacus tincidunt tempor at eu ex.
            </p>
            <div class="ul-list">
                <div>
                    <div class="bullet"></div>
                    <div>
                        Proin commodo sodales arcu, a volutpat augue facilisis et. Nam pellentesque finibus felis eget feugiat.
                        Nulla convallis a nisl non vehicula. Aliquam erat volutpat.
                    </div>
                </div>
                <div>
                    <div class="bullet"></div>
                    <div>
                        Nam pellentesque finibus felis eget feugiat. Nulla convallis a nisl non vehicula. Aliquam erat volutpat.
                    </div>
                </div>
                <div>
                    <div class="bullet"></div>
                    <div>
                        Proin commodo sodales arcu, a volutpat. Nulla convallis a nisl non vehicula. Aliquam erat volutpat.
                        Praesent nec tincidunt purus. Donec vel erat porta.
                    </div>
                </div>              
            </div>
            <div><a href="#" class="link-button">Learn More</a></div>
        </main>
        <aside class="starPage-aside">
            <h3>We Knocked Em’ll</h3>
            <div class="aside-img">
                <img src="~/Content/Images/StartPage/AsideImage.png" alt="Sony Playstation VR"  id="startPage-aside-img"/>
                <div class="aside-background"></div>
                <div class="aside-text">
                    <div>
                        Sony Playstation VR
                        <img src="~/Content/Images/StartPage/Arrow.svg" alt="Arrow"/>
                    </div>                 
                </div>
            </div>
        </aside>
    </div>
</div>